{
    "server_name" : "example.com",
    "server_user" : "exuser",
    "server_pass" : "example",
    "install_infra_dest" : "/home/exuser/",
    "app_deployment_dest" : "/home/exuser/apps/",
    "app_target" : "sampleapp",
    "app_publish_port" : "3000",
    "os" : "centos"
}