{
    "server_name" : "ip",
    "server_user" : "ec2-user",
    "connect_method" : "keyfile",
    "keyfile" : "./keyfile.pem",
    "install_infra_dest" : "/home/ec2-user",
    "app_deployment_dest" : "/home/ec2-user/infra/app",
    "app_target" : "sampleapp",
    "app_publish_port" : "4567",
    "app_name" : "samplerubyapp",
    "loadbalancer_port" : "8063", 
    "os" : "ami",
    "infra_repo" : "https://github.com/rainc/infra"
}