{
    "server_name" : "example.com",
    "server_user" : "ec2-user",
    "connect_method" : "keyfile",
    "keyfile" : "./deployment.pem",
    "install_infra_dest" : "/home/ec2-user",
    "app_deployment_dest" : "/home/ec2-user/infra/app",
    "app_target" : "sampleapp",
    "app_publish_port" : "80",
    "network" : "base_network",
    "os" : "ami",
    "infra_repo" : "https://github.com/rainc/infra",
    "app_repo" : "https://github.com/rainc/rubyapp"
}