upstream active {
    server ${ACTIVE}:${PORT};
}
upstream standby {
    server ${STANDBY}:${PORT};
}

server {
    location / {
        proxy_pass http://active;
    }
    location /stage {
        rewrite ^/stage/(.*)  /$1 break;
        proxy_pass http://standby;
    }
}
