upstream active {
    server ${ACTIVE}:8080;
}
upstream standby {
    server ${STANDBY}:8080;
}

server {
    location / {
        proxy_pass http://active;
    }
    location /stage {
        rewrite ^/stage/(.*)  /$1 break;
        proxy_pass http://standby;
    }
}
